<div class="login-container d-flex align-items-center justify-content-center py-5">
  <div class="card shadow-lg login-card-compact"> 
    <div class="card-body p-4">

      <div *ngIf="errorMessage && !resetForm" class="alert alert-danger py-2">{{ errorMessage }}</div>

      <form *ngIf="token" [formGroup]="resetForm" (ngSubmit)="onSubmit()">

        <div *ngIf="successMessage" class="alert alert-success py-2">{{ successMessage }}</div>
        <div *ngIf="errorMessage && resetForm" class="alert alert-danger py-2">{{ errorMessage }}</div>

        <div class="mb-3">
          <label for="novaSenha" class="form-label fw-bold small">Nova Senha</label>
          <input type="password" class="form-control form-control-sm" id="novaSenha" formControlName="novaSenha"
            [class.is-invalid]="novaSenha?.invalid && (novaSenha?.dirty || novaSenha?.touched)">
          <div *ngIf="novaSenha?.invalid && (novaSenha?.dirty || novaSenha?.touched)" class="invalid-feedback">
            <div *ngIf="novaSenha?.errors?.['required']">A nova senha é obrigatória.</div>
            <div *ngIf="novaSenha?.errors?.['minlength']">Mínimo de 6 caracteres.</div>
          </div>
        </div>

        <div class="mb-4">
          <label for="confirmacaoNovaSenha" class="form-label fw-bold small">Confirmar Nova Senha</label>
          <input type="password" class="form-control form-control-sm" id="confirmacaoNovaSenha" formControlName="confirmacaoNovaSenha"
            [class.is-invalid]="confirmacaoNovaSenha?.invalid && (confirmacaoNovaSenha?.dirty || confirmacaoNovaSenha?.touched)">
          
          <div *ngIf="confirmacaoNovaSenha?.errors?.['mismatch']" class="invalid-feedback d-block">
             As senhas não coincidem.
          </div>
        </div>

        <button 
          type="submit" 
          class="btn btn-custom w-100 fw-bold py-1 mt-3" 
          [disabled]="resetForm.invalid || isSubmitting"
        >
          {{ isSubmitting ? 'Redefinindo...' : 'Redefinir Senha' }}
        </button>
      </form>

      </div>
  </div>
</div>