.text-custom-primary {
  color: #2F4156;
}

.price-color {
    color: #4CAF50;
    font-size: 1.1rem;
}

.btn-custom {
  background-color: #2F4156;
  color: white;
  border: none;
}
.btn-custom:hover:not([disabled]) {
  background-color: #567C8D;
}

.cart-item-img {
    width: 90px;
    height: 60px;
    object-fit: cover;
}

.checkout-summary {
    top: 20px;
}
